/* p : paragraphe   h1 : titre em : texte important */
/* p, em, h1, .class, #id */
/* * est un selecteur universel, A B : une balise contenue dans une autre, A + B : une balise qui en suit une autre
A[attribut] : une balise qui possede un attribut, A[attribut="Valeur"] : une balise, un attribut et une valeur exacte
A[attribut*="Valeur"] : une balise, un attribut et une valeur,  */
/* .introduction */
.salutations
{
    color: blue;
    /* font-size: 30px; */
    font-size: 1.4em;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    opacity: 0.6;
}

h1
{
    color: maroon;
    border: 3px blue dashed;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px 5px 10px 5px;
    box-shadow: 6px 6px 0px black;
    text-shadow: 2px 2px 4px black;
}

p
{
    color: rgb(240,96,204);
}

/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    /*background-color: black; *//* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
    /* background-image: url("images/neige.jpg"); */
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: repeat;
    background-position: top right;
}

mark
{
    /* La couleur de fond prend le pas sur celle de toute la page */
    background-color: red;
    color: black;
}

.test
{
    background-image: url("soleil.png");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top right; /* Le fond sera placé en haut à droite */
}

.test2
{
    background: url("soleil.png") fixed no-repeat top right;
}

.test3
{
    background: url("soleil.png") fixed no-repeat top right, url("neige.png") fixed;
}

.test4
{
    background-color: rgb(255,0,0); /* Pour les navigateurs anciens */
    background-color: rgba(255,0,0,0.5); /* Pour les navigateurs plus récents */
}

/* Le fichier de police (ici MaSuperPolice.eot) doit ici être situé dans le même dossier que le fichier CSS (ou dans un sous-dossier, 
si vous utilisez un chemin relatif). */
@font-face {
    font-family: 'MaSuperPolice';
    src: url('MaSuperPolice.eot') format('eot'),
         url('MaSuperPolice.woff') format('woff'),
         url('MaSuperPolice.ttf') format('truetype'),
         url('MaSuperPolice.svg') format('svg');
}

.imageflottante
{
    float: left;
}
.dessous
{
    clear: both;
}


